<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Boot Thymeleaf Hello World Example</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script type="text/javascript" src="scripts.js"></script>
</head>
<body onload="hideWhenMovieTableIsEmpty()">
<form name="uploadingForm" enctype="multipart/form-data" action="/" method="POST">
  Upload encoded file:<br/>
  <input id="fileInput" type="file" name="uploadingFiles"/>
  <input id="fileInputSubmit" type="submit" value="Upload from file"/><br/>
  <div id="imdbListDiv">
    <input id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
           title="Type in a title"/>
    <table id="movieTable">
      <thead>
      <tr>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="movie : ${movies}">
        <tr>
          <td th:text="${movie}">A Smoke Test'</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</form>
</body>
</html>